


/* for mobile devices */
@media screen and (max-width:480px){
    .burger-nav{
    display: block;
    height: 40px;
    width: 100%;
    background: url(./images/menu.icon.png) no-repeat 100% center;
    }
}